<template>
  <div>
    <template v-if="showForm">
      <p>
        {{ labels.form.paragraph }}
      </p>
      <!-- This input should come from an input/form control component -->
      <input
        type="email"
        name="email"
        class="mt-4 mr-4 border-grey-300 rounded border py-2 px-4"
        placeholder="E-mailadres">
      <button
        @click="validate"
        class="button">
        Aanmelden
      </button>
    </template>
    <template v-else>
      <p>
        {{ labels.feedback.sentMessage }}
      </p>
    </template>
  </div>
</template>

<script>
import gatedDownload from '@/mixins/gatedDownload';

export default {
  name: 'v-newsletter-signup',

  mixins: [gatedDownload],

  data() {
    return {
      showForm: true,
    };
  },

  methods: {
    validate() {
      // Note: Here we can handle form validation, for now we just pretend everything is valid
      this.showForm = false;
    },
  },
};
</script>
