<template>
  <VStep>
    <template v-slot:heading>
      <h3 class="heading3">
        {{ labels.heading }}
      </h3>
    </template>
    <template v-slot:body>
      <p class="paragraph">
        {{ labels.paragraph }}
      </p>
      <!-- This input should come from an input/form control component -->
      <input
        type="email"
        name="email"
        class="mt-4 mr-4 border-grey-300 rounded border py-2 px-4"
        placeholder="E-mailadres">
      <!-- This input should come from an input/form control component -->
      <input
        type="email"
        name="email"
        class="mt-4 border-grey-300 rounded border py-2 px-4"
        placeholder="Partner e-mailadres">
    </template>
  </VStep>
</template>

<script>
import VStep from '@/components/steps/VStep.vue';

/**
 * Form step of a gated ebook download.
 * Note: Ideally form elements will come from a component library and are pre-defined.
 * We could add additional logic in here such as conditional fields based on the config
 */

export default {
  name: 'v-gated-ebook-form',

  components: {
    VStep,
  },

  props: {
    labels: {
      type: Object,
      required: true,
    },
  },

  methods: {
    validate() {
      // Note: Here we can handle form validation, for now we just pretend everything is valid
      // If this is changed to false the form/step wont submit
      return true;
    },
  },
};
</script>
