<template>
  <VStepContainer
    @onFinish="handleSubmit"
    :hideButtons="!showForm"
    finishButtonText="Download eBook">
    <VGatedEbookForm
      v-if="showForm"
      ref="form"
      :labels="labels.form"/>
    <VGatedEbookFeedback
      v-else
      ref="feedback"
      :labels="labels.feedback"/>
  </VStepContainer>
</template>

<script>
import gatedDownload from '@/mixins/gatedDownload';
import VStepContainer from '@/components/steps/VStepContainer.vue';
import VGatedEbookForm from './VGatedEbookForm.vue';
import VGatedEbookFeedback from './VGatedEbookFeedback.vue';

/**
 * Displays an one step form for gated ebook downloads.
 * Note: I assumed gated ebooks downloads will always have one step to keep the code dry.
 * If we would want more flexibily for this we can use
 * the 'gatedDownload' mixin and 'VStepContainer' to create a more specific componnent.
 */

export default {
  name: 'v-gated-ebook',

  mixins: [gatedDownload],

  components: {
    VStepContainer,
    VGatedEbookForm,
    VGatedEbookFeedback,
  },

  data() {
    return {
      showForm: true,
    };
  },

  methods: {
    handleSubmit() {
      this.showForm = false;
    },
  },
};
</script>
