<template>
  <VStep>
    <template v-slot:heading>
      <h3 class="heading3">
        {{ labels.sentMessage }}
      </h3>
    </template>
    <template v-slot:body>
      <p class="paragraph">
        {{ labels.sentParagraph }}
      </p>
    </template>
  </VStep>
</template>

<script>
import VStep from '@/components/steps/VStep.vue';

export default {
  name: 'v-gated-ebook-feedback',

  components: {
    VStep,
  },

  props: {
    labels: {
      type: Object,
      required: true,
    },
  },
};
</script>
