<template>
  <div>
    <div class="mb-3">
      <slot name="heading"></slot>
    </div>
    <slot name="body"></slot>
  </div>
</template>

<script>
/**
 * Wrapper for steps, allow future step specific logic and styling
 */
export default {
  name: 'v-step',
};
</script>
