<template>
  <div>
    <div v-if="showStepIndicator">Here would be a cool step indicator!</div>
    <div ref="main">
      <slot></slot>
    </div>
    <div
      v-if="!hideButtons"
      class="mt-5">
      <button
        v-if="!isFirstStep"
        @click="handlePreviousClick"
        class="button">
        {{ previousButtonText || 'Vorige' }}
      </button>
      <button
        v-if="!isLastStep"
        @click="handleNextClick"
        class="button">
        {{ nextButtonText || 'Volgende' }}
      </button>
      <button
        v-if="isLastStep"
        @click="handleFinishClick"
        class="button">
        {{ finishButtonText || 'Verstuur' }}
      </button>
    </div>
  </div>
</template>

<script>
/**
 * Container to render a steps wizard
 * Note: This component can be extended with more logic, such as
 * the step indicator, setting active step from the parent, etc...
 */

export default {
  name: 'v-step-container',

  props: {
    isSubmitting: {
      type: Boolean,
      default: false,
    },

    isLoading: {
      type: Boolean,
      default: false,
    },

    nextButtonText: {
      type: String,
      required: false,
    },

    previousButtonText: {
      type: String,
      required: false,
    },

    finishButtonText: {
      type: String,
      required: false,
    },

    hideButtons: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      steps: [],
      activeStep: 0,
    };
  },

  computed: {
    /**
     * Return normalized step length
     * @return {Number}
     */
    stepLength() {
      return this.steps.length - 1;
    },

    /**
     * Check steplength to see if there multiple steps
     * @return {Boolean}
     */
    showStepIndicator() {
      return this.stepLength > 0;
    },

    /**
     * Check if it's the first step
     * @return {Boolean}
     */
    isFirstStep() {
      return this.activeStep === 0;
    },

    /**
     * Check if it's the last step
     * @return {Boolean}
     */
    isLastStep() {
      return this.activeStep === this.stepLength;
    },
  },

  created() {
    // Register all children as steps
    this.steps = this.$children;
  },

  methods: {
    /**
     * Check if the step has a validate() function and if it's valid
     * @returns {Boolean} Step is valid or not
     */
    validateStep() {
      const validateFunction = this.steps[this.activeStep].validate;
      if (typeof validateFunction === 'function' && !validateFunction()) {
        return false;
      }

      return true;
    },

    /**
     * Handle previous button click
     */
    handlePrevClick() {
      this.activeStep -= 1;
      this.$emit('onPrevious');
    },

    /**
     * Handle next button click
     */
    handleNextClick() {
      if (this.validateStep()) {
        this.activeStep += 1;
        this.$emit('onNext');
      }
    },

    /**
     * Handle finish button click
     */
    handleFinishClick() {
      if (this.validateStep()) {
        this.$emit('onFinish');
      }
    },
  },
};
</script>
