<template>
  <div class="bg-blue-100 h-screen w-screen flex flex-col items-center justify-center">
    <div class="w-3/6">
      <section>
        <h1 class="heading1 mb-4">Example with 'wizard'</h1>
        <div class="p-8 shadow-md bg-white rounded">
          <VGatedEbook
            leadKey="ebook_dream_home"/>
        </div>
      </section>
      <section class="mt-12">
        <h1 class="heading1 mb-4">Example with newsletter signup</h1>
        <div class="p-8 shadow-md bg-white rounded">
          <VNewsletterSignup
            leadKey="newsletter"/>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import VGatedEbook from './components/gatedEbook/VGatedEbook.vue';
import VNewsletterSignup from './components/newsletterSignup/VNewsletterSignup.vue';

export default {
  name: 'App',

  components: {
    VGatedEbook,
    VNewsletterSignup,
  },
};
</script>
